<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head (pageTitle=#{homepage.title})"></head>
<body>
    <div class="col-md-8">
        <img class="media-object" th:src="@{/images/SystemTrackerLogo.png}"/>
    </div>

    <p>Get RESTful message of system load: <a th:href="@{/systemLoad}">Link</a></p>
    <p></p>
    <p>Get RESTful message of system configuration: <a th:href="@{/systemConfig}">Link</a></p>

    <!-- Import footer -->
    <div th:replace="layout :: footer"></div>
</body>
</html>